<div class="container mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 py-16">

    <div class="border-1 border-emerald-100 rounded-3xl p-3">

      <img src="./"./assets/course/courses-01.jpg" alt="" class="w-full rounded-2xl">

   

      <div class="flex justify-between mt-2 items-center">

        <div class="flex items-center gap-2">

          <img src="./"./assets/author/author-01.jpg" alt="" class="w-10 h-10 rounded-full">

          <p class="text-slate-700 font-light">Jason Williams</p>

        </div>

        <div >

          <button class="text-emerald-400 bg-emerald-50 px-3 py-2 rounded-md">

                science

          </button>

        </div>

      </div>

      <h3 class="mt-3 text-slate-700 font-bold hover:text-emerald-500 transition-all duration-500">Data Science and Machine Learning with Python - Hands On!</h3>

      <div class="flex justify-between  mt-3 ">

        <div class="flex items-center gap-2">


          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" items-baseline w-6 h-6 text-emerald-500 ">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          

         

          <p>08hr 15 mins</p>

        </div>

        <div class="flex gap-2">

        

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-emerald-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
          </svg>
          

         

          <p>29 Lectures</p>

        </div>  

       </div>

   

       <div class="p-3 bg-emerald-100 mt-3 rounded-md">

           <div class="flex justify-between">

        <div class="flex">

                <p>Free</p>

              </div>

   

              <div class="flex">

                <span>{{this.star}}</span>

                <ul class="flex items-center">

                  <li *ngFor="let st of totalstar; let i=index">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 {{(i+1)<=this.star?'text-orange-400':'text-blue-400'}}" >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                      </svg>
                      

                   

                  </li>

                </ul>

              </div>

       </div>

    </div>

    </div>

   

   

   

    <div class="border-1 border-emerald-100 rounded-3xl p-3">

      <img src="./"./assets/course/courses-02.jpg" alt="" class="w-full rounded-2xl">

   

      <div class="flex justify-between mt-2 items-center">

        <div class="flex items-center gap-2">

          <img src="./"./assets/author/author-02.jpg" alt="" class="w-10 h-10 rounded-full">

          <p class="text-slate-700 font-light">Rose Simmons</p>

        </div>

        <div >

          <button class="text-emerald-400 bg-emerald-50 px-3 py-2 rounded-md">

                science

          </button>

        </div>

      </div>

      <h3 class="mt-3 text-slate-700 font-bold hover:text-emerald-500 transition-all duration-500">Culture & Leadership: Strategies for a Successful Business</h3>

      <div class="flex justify-between  mt-3 ">

        <div class="flex items-center gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" items-baseline w-6 h-6 text-emerald-500 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>

         

          <p>08hr 15 mins</p>

        </div>

        <div class="flex gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-emerald-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
              </svg>

         

          <p>29 Lectures</p>

        </div>  

       </div>

   

       <div class="p-3 bg-emerald-100 mt-3 rounded-md">

           <div class="flex justify-between">

        <div class="flex">

                <p>Free</p>

              </div>

   

              <div class="flex">

                <span>{{this.star}}</span>

                <ul class="flex items-center">

                  <li *ngFor="let st of totalstar; let i=index">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 {{(i+1)<=this.star?'text-orange-400':'text-blue-400'}}" >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                      </svg>
                      

                   

                  </li>

                </ul>

              </div>

       </div>

    </div>

    </div>

   

   

   

   

    <div class="border-1 border-emerald-100 rounded-3xl p-3">

      <img src="./"./assets/course/courses-03.jpg" alt="" class="w-full rounded-2xl">

   

      <div class="flex justify-between mt-2 items-center">

        <div class="flex items-center gap-2">

          <img src="./"./assets/author/author-03.jpg" alt="" class="w-10 h-10 rounded-full">

          <p class="text-slate-700 font-light">Pamela Foster</p>

        </div>

        <div >

          <button class="text-emerald-400 bg-emerald-50 px-3 py-2 rounded-md">

                science

          </button>

        </div>

      </div>

      <h3 class="mt-3 text-slate-700 font-bold hover:text-emerald-500 transition-all duration-500">Create Amazing Color Schemes for Your UX Design Projects</h3>

      <div class="flex justify-between  mt-3 ">

        <div class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" items-baseline w-6 h-6 text-emerald-500 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>

         

          <p>08hr 15 mins</p>

        </div>

        <div class="flex gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-emerald-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
              </svg>

         

          <p>29 Lectures</p>

        </div>  

       </div>

   

       <div class="p-3 bg-emerald-100 mt-3 rounded-md">

           <div class="flex justify-between">

        <div class="flex">

                <p>Free</p>

              </div>

   

              <div class="flex">

                <span>{{this.star}}</span>

                <ul class="flex items-center">

                  <li *ngFor="let st of totalstar; let i=index">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 {{(i+1)<=this.star?'text-orange-400':'text-blue-400'}}" >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                      </svg>
                      

                   

                  </li>

                </ul>

              </div>

       </div>

    </div>

    </div>

    </div>

   

    <!-------------------------------------------------------------card 2------------------------------------------------------------------>

   

    <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 ">

      <div class="border-1 border-emerald-100 rounded-3xl p-3">

        <img src="./"./assets/course/courses-04.jpg" alt="" class="w-full rounded-2xl">

     

        <div class="flex justify-between mt-2 items-center">

          <div class="flex items-center gap-2">

            <img src="./"./assets/author/author-04.jpg" alt="" class="w-10 h-10 rounded-full">

            <p class="text-slate-700 font-light">Jason Williams</p>

          </div>

          <div >

            <button class="text-emerald-400 bg-emerald-50 px-3 py-2 rounded-md">

                  science

            </button>

          </div>

        </div>

        <h3 class="mt-3 text-slate-700 font-bold hover:text-emerald-500 transition-all duration-500">Finance Series: Learn to Budget and Calculate your Net Worth.</h3>

        <div class="flex justify-between  mt-3 ">

          <div class="flex items-center gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" items-baseline w-6 h-6 text-emerald-500 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>

           

            <p>08hr 15 mins</p>

          </div>

          <div class="flex gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-emerald-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
              </svg>

           

            <p>29 Lectures</p>

          </div>  

         </div>

     

         <div class="p-3 bg-emerald-100 mt-3 rounded-md">

             <div class="flex justify-between">

          <div class="flex">

                  <p>Free</p>

                </div>

     

                <div class="flex">

                  <span>{{this.star}}</span>

                  <ul class="flex items-center">

                    <li *ngFor="let st of totalstar; let i=index">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 {{(i+1)<=this.star?'text-orange-400':'text-blue-400'}}" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                          </svg>
                          

                     

                    </li>

                  </ul>

                </div>

         </div>

      </div>

      </div>

     

     

     

      <div class="border-1 border-emerald-100 rounded-3xl p-3">

        <img src="./"./assets/course/courses-05.jpg" alt="" class="w-full rounded-2xl">

     

        <div class="flex justify-between mt-2 items-center">

          <div class="flex items-center gap-2">

            <img src="./"./assets/author/author-05.jpg" alt="" class="w-10 h-10 rounded-full">

            <p class="text-slate-700 font-light">Rose Simmons</p>

          </div>

          <div >

            <button class="text-emerald-400 bg-emerald-50 px-3 py-2 rounded-md">

                  Marketing

            </button>

          </div>

        </div>

        <h3 class="mt-3 text-slate-700 font-bold hover:text-emerald-500 transition-all duration-500">Build Brand Into Marketing: Tackling the New Marketing Landscape</h3>

        <div class="flex justify-between  mt-3 ">

          <div class="flex items-center gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" items-baseline w-6 h-6 text-emerald-500 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>

           

            <p>08hr 15 mins</p>

          </div>

          <div class="flex gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-emerald-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
              </svg>

           

            <p>29 Lectures</p>

          </div>  

         </div>

     

         <div class="p-3 bg-emerald-100 mt-3 rounded-md">

             <div class="flex justify-between">

          <div class="flex">

                  <p>Free</p>

                </div>

     

                <div class="flex">

                  <span>{{this.star}}</span>

                  <ul class="flex items-center">

                    <li *ngFor="let st of totalstar; let i=index">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 {{(i+1)<=this.star?'text-orange-400':'text-blue-400'}}" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                          </svg>
                          

                     

                    </li>

                  </ul>

                </div>

         </div>

      </div>

      </div>

     

     

     

     

      <div class="border-1 border-emerald-100 rounded-3xl p-3">

        <img src="./"./assets/course/courses-06.jpg" alt="" class="w-full rounded-2xl">

     

        <div class="flex justify-between mt-2 items-center">

          <div class="flex items-center gap-2">

            <img src="./"./assets/author/author-06.jpg" alt="" class="w-10 h-10 rounded-full">

            <p class="text-slate-700 font-light">Pamela Foster</p>

          </div>

          <div >

            <button class="text-emerald-400 bg-emerald-50 px-3 py-2 rounded-md">

                  science

            </button>

          </div>

        </div>

        <h3 class="mt-3 text-slate-700 font-bold hover:text-emerald-500 transition-all duration-500">Graphic Design: Illustrating Badges and Icons with Geometric Shapes</h3>

        <div class="flex justify-between  mt-3 ">

          <div class="flex items-center gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" items-baseline w-6 h-6 text-emerald-500 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>

           

            <p>08hr 15 mins</p>

          </div>

          <div class="flex gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-emerald-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
              </svg>

           

            <p>29 Lectures</p>

          </div>  

         </div>

     

         <div class="p-3 bg-emerald-100 mt-3 rounded-md">

             <div class="flex justify-between">

          <div class="flex">

                  <p>Free</p>

                </div>

     

                <div class="flex">

                  <span>{{this.star}}</span>

                  <ul class="flex items-center">

                    <li *ngFor="let st of totalstar; let i=index">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 {{(i+1)<=this.star?'text-orange-400':'text-blue-400'}}" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                          </svg>
                          
                     

                    </li>

                  </ul>

                </div>

         </div>

      </div>

      </div>

      </div>

   

   

    <!----------------------------------------------------card 3---------------------------------------------------------------------->

   

    <div class="container mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 ">

      <div class="border-1 border-emerald-100 rounded-3xl p-3">

        <img src="./"./assets/course/courses-04.jpg" alt="" class="w-full rounded-2xl">

     

        <div class="flex justify-between mt-2 items-center">

          <div class="flex items-center gap-2">

            <img src="./"./assets/author/author-07.jpg" alt="" class="w-10 h-10 rounded-full">

            <p class="text-slate-700 font-light">Jason Williams</p>

          </div>

          <div >

            <button class="text-emerald-400 bg-emerald-50 px-3 py-2 rounded-md">

                UI/UX Design

            </button>

          </div>

        </div>

        <h3 class="mt-3 text-slate-700 font-bold hover:text-emerald-500 transition-all duration-500">Finance Series: Learn to Budget and Calculate your Net Worth.</h3>

        <div class="flex justify-between  mt-3 ">

          <div class="flex items-center gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" items-baseline w-6 h-6 text-emerald-500 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>

           

            <p>08hr 15 mins</p>

          </div>

          <div class="flex gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-emerald-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
              </svg>

           

            <p>29 Lectures</p>

          </div>  

         </div>

     

         <div class="p-3 bg-emerald-100 mt-3 rounded-md">

             <div class="flex justify-between">

          <div class="flex">

                  <p>Free</p>

                </div>

     

                <div class="flex">

                  <span>{{this.star}}</span>

                  <ul class="flex items-center">

                    <li *ngFor="let st of totalstar; let i=index">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 {{(i+1)<=this.star?'text-orange-400':'text-blue-400'}}" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                          </svg>
                          

                     

                    </li>

                  </ul>

                </div>

         </div>

      </div>

      </div>

     

     

     

      <div class="border-1 border-emerald-100 rounded-3xl p-3">

        <img src="./"./assets/course/courses-02.jpg" alt="" class="w-full rounded-2xl">

     

        <div class="flex justify-between mt-2 items-center">

          <div class="flex items-center gap-2">

            <img src="./"./assets/author/author-04.jpg" alt="" class="w-10 h-10 rounded-full">

            <p class="text-slate-700 font-light">Rose Simmons</p>

          </div>

          <div >

            <button class="text-emerald-400 bg-emerald-50 px-3 py-2 rounded-md">

                  Development

            </button>

          </div>

        </div>

        <h3 class="mt-3 text-slate-700 font-bold hover:text-emerald-500 transition-all duration-500">Build Brand Into Marketing: Tackling the New Marketing Landscape</h3>

        <div class="flex justify-between  mt-3 ">

          <div class="flex items-center gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" items-baseline w-6 h-6 text-emerald-500 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>

           

            <p>08hr 15 mins</p>

          </div>

          <div class="flex gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-emerald-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
              </svg>

           

            <p>29 Lectures</p>

          </div>  

         </div>

     

         <div class="p-3 bg-emerald-100 mt-3 rounded-md">

             <div class="flex justify-between">

          <div class="flex">

                  <p>Free</p>

                </div>

     

                <div class="flex">

                  <span>{{this.star}}</span>

                  <ul class="flex items-center">

                    <li *ngFor="let st of totalstar; let i=index">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 {{(i+1)<=this.star?'text-orange-400':'text-blue-400'}}" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                          </svg>
                          

                     

                    </li>

                  </ul>

                </div>

         </div>

      </div>

      </div>

     

     

     

     

      <div class="border-1 border-emerald-100 rounded-3xl p-3">

        <img src="./"./assets/course/courses-01.jpg" alt="" class="w-full rounded-2xl">

     

        <div class="flex justify-between mt-2 items-center">

          <div class="flex items-center gap-2">

            <img src="./"./assets/author/author-01.jpg" alt="" class="w-10 h-10 rounded-full">

            <p class="text-slate-700 font-light">Pamela Foster</p>

          </div>

          <div >

            <button class="text-emerald-400 bg-emerald-50 px-3 py-2 rounded-md">

                  Data Science

            </button>

          </div>

        </div>

        <h3 class="mt-3 text-slate-700 font-bold hover:text-emerald-500 transition-all duration-500">Graphic Design: Illustrating Badges and Icons with Geometric Shapes</h3>

        <div class="flex justify-between  mt-3 ">

          <div class="flex items-center gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" items-baseline w-6 h-6 text-emerald-500 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>

           

            <p>08hr 15 mins</p>

          </div>

          <div class="flex gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-emerald-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
              </svg>

           

            <p>29 Lectures</p>

          </div>  

         </div>

     

         <div class="p-3 bg-emerald-100 mt-3 rounded-md">

             <div class="flex justify-between">

          <div class="flex">

                  <p>Free</p>

                </div>

     

                <div class="flex">

                  <span>{{this.star}}</span>

                  <ul class="flex items-center">

                    <li *ngFor="let st of totalstar; let i=index">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 {{(i+1)<=this.star?'text-orange-400':'text-blue-400'}}" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                          </svg>
                          

                     

                    </li>

                  </ul>

                </div>

         </div>

      </div>

      </div>

      </div>
