<app-hero></app-hero>

 

<div class="container  ">

<div class="mt-28  relative">

  <h1 class="text-black text-2xl font-semibold   ">All <span class="text-emerald-500 text-2xl font-semibold">Course</span> of Edule</h1>

    <img src="./assets/shapes/shape-4.webp " alt="" class="absolute -bottom-2 sm:-bottom-4 lg:-bottom-5 left-5 w-[25%] md:w-[15%] lg:w-[10%]">

</div>

</div>

<app-card></app-card>   

<section class="mt-14 text-center   ">

    <button class="bg-emerald-600 hover:bg-slate-900 text-white font-semibold px-8 py-3 rounded-md ">Other Course</button>

  </section>

 

  <section class="mt-20 mb-20 ">

    <div class="container mx-auto">

      <div class="bg-emerald-100 rounded-lg relative">

        <img src="./assets/shapes/shape-8.png" alt="" class="absolute bottom-5 left-3 md:left-5 w-[15%] md:w-[5%] animate-bounce">

        <img src="./assets/shapes/shape-8.png" alt="" class="absolute top-5 right-5 w-[15%] md:w-[5%] animate-bounce">

          <div class=" grid grid-cols-1 md:grid-cols-3  ">

           

            <div class="ml-10 lg:ml-32 mt-16">

             

          <p class="text-emerald-700 font-semibold text-2xl">Become A Instructor</p>

          <h1 class="mt-8 mb-20 text-black font-semibold text-3xl">You can join with Edule as <span class="text-emerald-500 font-semibold text-3xl ">a instructor?

 

          </span></h1>

       

            </div>

 

            <div class="flex items-center justify-center ">

              <img src="./assets/shapes/shape-13.svg" alt="" class="hidden lg:block ">

            </div>

 

            <div class="items-center flex mt-10 mx-auto mb-10 ">

              <button class="bg-emerald-600 hover:bg-slate-900 text-white font-semibold px-8 py-3 rounded-md ">Other Course</button>

            </div>

          </div>

      </div>

    </div>

  </section>

 

  <section class="bg-emerald-700 py-20 relative overflow-hidden ">

   

    <div class="  opacity-10 border-2 border-white rounded-full lg:w-[35rem] lg:h-[35rem] w-96 h-96 absolute top-0 left-0 lg:-top-64" > </div>

    <div class="  opacity-10 border-2 border-white rounded-full lg:w-[35rem] lg:h-[35rem] w-96 h-96 absolute bottom-0 right-0 lg:-bottom-64 lg:right-0" > </div>

    <div class="  opacity-10 border-2 border-white rounded-full lg:w-[35rem] lg:h-[35rem] w-96 h-96 absolute -top-[50%] left-[40%] lg:-bottom-96 lg:left-96" > </div>

    <div class="  opacity-10 border-2 border-white rounded-full lg:w-[35rem] lg:h-[35rem] w-96 h-96 absolute -bottom-[50%] right-[40%] lg:-top-64 lg:left-96" > </div>

 

    <div class="container grid grid-cols-1 md:grid-cols-2">

      <div class="">

        <p class="text-white font-semibold text-2xl">Ready to start?</p>

        <p class="text-white text-4xl font-semibold mt-3">Download our mobile app. for easy to start your course </p>

      </div>

 

      <div class="flex items-center justify-end gap-3 mt-10">

        <img  src="./assets/shapes/shape-14.png" alt="" class="mr-10 animate-leftRight hidden lg:block">

        <a class="border-8 border-slate-800 rounded-xl border-opacity-20">

          <img src="./assets/images/app-store.webp" alt="" class="bg-white p-2 px-8">

        </a>

       

        <a class="border-8 border-slate-800 rounded-xl border-opacity-20">

          <img src="./assets/images/google-play.webp" alt="" class="bg-white p-2 px-8">

        </a>

      </div>

   

    </div>

     

  </section>

 

  <div class="container grid grid-cols-1 md:grid-cols-2  mt-10 gap-5 p-10 lg:p-5">

    <div class=" border-2 border-emerald-500 border-opacity-30 rounded-lg text-center ">

      <div class="relative mt-10 flex justify-center w-full">

       <img src="./assets/author/author-04.jpg" alt="" class="w-28 rounded-full border-2 border-emerald-500 p-3">

 

      <span class="absolute -bottom-3 bg-emerald-600 text-white w-10 h-10 flex items-center justify-center rounded-full">


      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
      </svg>
      

       

      </span>

 

      </div>

 

      <div class="flex justify-center mt-8">

        <span *ngIf="shownumber">{{this.homestar}}</span>

        <ul class="flex items-center  ">

          <li *ngFor="let st of totalstar; let i=index">

           
            
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 {{(i+1)<=this.homestar?'text-orange-400':'text-gray-400'}}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
              </svg>
              
              

           

          </li>

        </ul>

      </div>

     

      <div class="mt-3 text-slate-500 font-light leading-loose ">

       <p>

        Lorem Ipsum has been the industry's standard dummy text since the 1500s, when an unknown printer took a galley of type and scrambled it to make type specimen book has

        survived not five centuries but also the leap into electronic.

       </p>

      </div>

       <p class="mt-3 font-semibold text-2xl text-slate-700">

        Sara Alexander

       </p>

       <p class=" mt-2 font-light text-emerald-600 mb-5">Product Head, USA</p>

 

  </div>

 

<!---------------------------------------------------2-------------------------------------------------------------------->  

    <div class=" border-2 border-emerald-500 border-opacity-30 rounded-lg ">

      <div class="relative mt-10 flex justify-center w-full">

        <img src="./assets/author/author-06.jpg" alt="" class="w-28 rounded-full border-2 border-emerald-500 p-3">

 

       <span class="absolute -bottom-3 bg-emerald-600 text-white w-10 h-10 flex items-center justify-center rounded-full">

        

         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
          </svg>
          

         

       </span>

 

       </div>

 

       <div class="flex justify-center mt-8">

         <span *ngIf="shownumber">{{this.homestar}}</span>

         <ul class="flex items-center  ">

           <li *ngFor="let st of totalstar; let i=index">


             
             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 {{(i+1)<=this.homestar?'text -orange-400':'text-gray-400'}}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
              </svg>
              
           

             

           </li>

         </ul>
         </div>

         <div class="mt-3 text-slate-500 font-light leading-loose text-center">

            <p>
    
             Lorem Ipsum has been the industry's standard dummy text since the 1500s, when an unknown printer took a galley of type and scrambled it to make type specimen book has
    
             survived not five centuries but also the leap into electronic.
    
            </p>
    
           </div>
    
            <p class="mt-3 font-semibold text-2xl text-slate-700 text-center">
    
             Sara Alexander
    
            </p>
    
            <p class=" mt-2 font-light text-emerald-600 text-center mb-5">Product Head, USA</p>
    
           </div>
    
      </div>


      <div class="container grid grid-cols-1 lg:grid-cols-8 mt-16">
      <ul class="col-span-2 p-4 bg-emerald-200 group rounded-md ">
        <li > 
          <div class="mb-10  ">
            <p class="w-16 h-16 bg-white group-hover:bg-emerald-600 rounded-xl flex items-center justify-center  shadow-lg ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-8 h-8 text-emerald-500 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
              </svg>
              
            </p>
            <h2 class="font-semibold text-2xl mt-3 ">
              Find Your Course
            </h2>
            <p class="font-light text-md mt-3">
              It has survived not only centurie also leap into electronic.
            </p>
          </div>
        </li>
        </ul>
      
        <li class=" flex items-center justify-center sm:gap-3">
          <img src="./assets/shapes/shape-17.png" alt="" class="src">
        </li>
        

        <ul class="col-span-2  p-4 bg-emerald-200 group rounded-md">
          <li > 
            <div class="mb-10  ">
              <p class="w-16 h-16 bg-white group-hover:bg-emerald-600 rounded-xl flex items-center justify-center  shadow-lg ">
              
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-8 h-8 text-emerald-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75" />
                </svg>
                
                
              </p>
              <h2 class="font-semibold text-2xl mt-3 ">
                Book A Seat
              </h2>
              <p class="font-light text-md mt-3">
                It has survived not only centurie also leap into electronic.
              </p>
            </div>
          </li>
          </ul>

       
        <li class="flex items-center justify-center">
          <img src="./assets/shapes/shape-17.png" alt="" class="">
        </li>
      




        <ul class="col-span-2  p-4 bg-emerald-200 group rounded-md ">
          <li > 
            <div class="mb-10  ">
              <p class="w-16 h-16 bg-white group-hover:bg-emerald-600 rounded-xl flex items-center justify-center  shadow-lg ">
               

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-8 h-8 text-emerald-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                </svg>
                
                
              </p>
              <h2 class="font-semibold text-2xl mt-3 ">
                Get Certificate
              </h2>
              <p class="font-light text-md mt-3">
                It has survived not only centurie also leap into electronic.
              </p>
            </div>
          </li>
          </ul>


      </div>
    
     
    
      <app-cardtwo></app-cardtwo>
    
     
    
      <app-footer></app-footer>

    
    